In [6]:
import pandas as pd
'''
Ideas
- traffic/population
- who might attend/donate -> demographics
- coffeeshops / fancy restaurants
- hourly rate of people
- Income
- weather forecast
- public attraction
- income/home values
- which stations have other solicitors
'''

'\nIdeas\n- traffic/population\n- who might attend/donate -> demographics\n- coffeeshops / fancy restaurants\n- hourly rate of people\n- Income\n- weather forecast\n- public attraction\n- income/home values\n- which stations have other solicitors\n'

In [122]:
dict_data = {}
dfs = pd.DataFrame()
dates = ['180303','180310','180317','180324','180331','180407','180414','180421','180428','180505','180512','180519','180526','180602','180609','180616','180623','180630']

for i, date in zip(range(len(dates)), dates):
    dict_data[i] = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt'.format(date))
    dfs = dfs.append(dict_data[i])

In [7]:
df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180630.txt')

In [128]:
dfs.rename(columns={column : column.strip() for column in dfs.columns}, inplace = True)

In [139]:
dfs_group = pd.DataFrame(dfs.groupby(['STATION','UNIT','C/A','SCP','DATE'])[['ENTRIES','EXITS']].agg('max'))

In [ ]:
df_group_test = df_group.groupby(['STATION','UNIT','C/A','SCP','DATE']).apply(lambda x: x.iloc[1:,:] )

In [138]:
dfs_group

                                         ENTRIES   EXITS
STATION   UNIT C/A  SCP      DATE
1 AV      R248 H007 00-00-00 02/24/2018      NaN     NaN
                             02/25/2018   2010.0  3545.0
                             02/26/2018   3748.0  4363.0
                             02/27/2018   3791.0  4701.0
                             02/28/2018   3876.0  4627.0
                             03/01/2018   3996.0  4611.0
                             03/02/2018   4024.0  4118.0
                             03/03/2018   2679.0  4481.0
                             03/04/2018   2085.0  3559.0
                             03/05/2018   4158.0  4273.0
                             03/06/2018   4094.0  4565.0
                             03/07/2018   3143.0  3506.0
                             03/08/2018   3907.0  4561.0
                             03/09/2018   5904.0  4086.0
                             03/10/2018   3012.0  4577.0
                             03/11/2018   2079.0  3277.0
                             03/12/2018   3793.0  4451.0
                             03/13/2018   3905.0  4346.0
                             03/14/2018   4307.0  4299.0
                             03/15/2018   4048.0  4538.0
                             03/16/2018   4011.0  4573.0
                             03/17/2018   2862.0  4645.0
                             03/18/2018   2401.0  3886.0
                             03/19/2018   3576.0  4458.0
                             03/20/2018   3895.0  4187.0
                             03/21/2018   2689.0  3040.0
                             03/22/2018   3379.0  3941.0
                             03/23/2018   4049.0  4662.0
                             03/24/2018   3039.0  4577.0
                             03/25/2018   2327.0  4040.0
...                                          ...     ...
ZEREGA AV R326 R419 00-05-01 05/31/2018      0.0     0.0
                             06/01/2018      0.0     0.0
                             06/02/2018      0.0     0.0
                             06/03/2018      0.0     0.0
                             06/04/2018      0.0     0.0
                             06/05/2018      0.0     0.0
                             06/06/2018      0.0     0.0
                             06/07/2018      0.0     0.0
                             06/08/2018      0.0     0.0
                             06/09/2018      0.0     0.0
                             06/10/2018      0.0     0.0
                             06/11/2018      0.0     0.0
                             06/12/2018      0.0     0.0
                             06/13/2018      0.0     0.0
                             06/14/2018      0.0     0.0
                             06/15/2018      0.0     0.0
                             06/16/2018      0.0     3.0
                             06/17/2018      0.0     1.0
                             06/18/2018      0.0     0.0
                             06/19/2018      0.0     0.0
                             06/20/2018      0.0     0.0
                             06/21/2018      0.0     0.0
                             06/22/2018      0.0     0.0
                             06/23/2018      0.0     0.0
                             06/24/2018      0.0     0.0
                             06/25/2018      0.0     0.0
                             06/26/2018      0.0     0.0
                             06/27/2018      0.0     0.0
                             06/28/2018      0.0     0.0
                             06/29/2018      0.0     0.0

[592108 rows x 2 columns]